/* 
app.py

This file is responsible for the styling of the front end.
It receives data from the other files in this project to run the web application smoothly.

Jesse Luna Discord: moldybread Github: jluna2000
Eric Solorio Discord: solo408#4764 Github: ericsolorio
Julian Grado Discord: StillJulez#9752 Github: JulesFam42
Natalie Diaz Discord: nati#2538 Github: nataliediaz1 */

h1{
    font-family: 'Cabin', sans-serif;
}

p{
    font-family: 'Cabin', sans-serif;
}

body{
    background-color: #c9bb92;
}
#block1{
    text-align: center;
}
#srnum{
    height: 30px;
    width: 200px;

    color:rgb(255, 255, 255);
    font-size: 15px;

    border-radius: 10px;
    border: 2px solid #8e8c91;
    background-color: rgba(255, 255, 255, 0);
}
    
#ingr{
    height: 30px;
   
    border: 2px solid #8e8c91;
    background-color: rgba(255, 255, 255, 0);



    width: 200px;
    border-radius: 10px;


    color:rgb(255, 255, 255);
    font-size: 15px;
}
.button{
    background-color: transparent;
    border: 0.0625rem solid #8e8c91;
    color: #8e8c91;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 25px;
    width: 85px;
    border-radius: 20px;
}