<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/scripting.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/styling.css">
    <title>YumYum</title>
</head>
<body>
    
    <div id = "block1">
        <h1>
            YumYum
        </h1>
        <p>
            Please input the serial number of the product you wish to look up
        </p>
        <div id = block2>
            <input type = "text" value = "Product" id = "srnum"/>
            <input type="button" class="button" id="srch" onclick="showInfo(document.getElementById('srnum').value)" value="Search"/>
            <p id="demoList"></p>
        </div>
        <div id = "block3">
            <form action = "#" method = "post">
                <p>
                    Please input the ingredient you wish to search for in this product
                </p>
                <input type = "text" id = "ingr" name = "Ingredient">
                <input type = "hidden" id = "demo" name = "AllIngredients">
                <input type = "submit" class = "button" value = "Search">
            </form>
            <p>
                {{ confirmation }}
            </p>

        </div>
    </div>
</body>
</html>